package waitlist

import layout "queue-bite/internal/layouts"

type VitrinePageData struct {
	QueuedPartyProps *QueuedPartyProps
	Form             *JoinFormData
}

templ Vitrine(page *VitrinePageData) {
	@layout.Base() {
		if page.QueuedPartyProps == nil {
			@JoinForm(page.Form)
		} else {
			@QueuedParty(page.QueuedPartyProps)
		}
	}
}
