package waitlist

import layout "queue-bite/internal/layouts"

type VitrinePageData struct {
	QueueEntry *QueueEntry
	Form       *JoinFormData
}

templ Vitrine(page *VitrinePageData) {
	@layout.Base() {
		if page.QueueEntry == nil {
			@JoinForm(page.Form)
		} else {
			@QueueEntryCard(page.QueueEntry)
		}
	}
}
