package view

import (
	"queue-bite/internal/domain"
	"queue-bite/pkg/components/ui"
)

templ SeatReady(partyID domain.PartyID) {
	<button
		hx-post="/waitlist/check-in"
		hx-target="main"
		hx-swap="innerHTML"
		{ ui.NewButton(ui.ButtonProps())... }
	>
		Check in
	</button>
}
