package view

import (
	"fmt"
	"queue-bite/internal/domain"
	"queue-bite/pkg/components/ui"
)

templ SeatReady(partyID domain.PartyID) {
	<form hx-post={ fmt.Sprintf("/waitlist/check-in/%s", string(partyID)) } hx-target="body">
		<button
			{ ui.NewButton(ui.ButtonProps())... }
		>
			Check in
		</button>
	</form>
}
