package button

import "queue-bite/pkg/utils"

templ Button(props *ButtonProps) {
	<button
		class={ utils.Cn(
        defaultStyles.Base,
        defaultStyles.Variants[props.Variant],
        defaultStyles.Sizes[props.Size],
        props.Class,
        ) }
		disabled?={ props.Disabled }
		aria-label={ props.AriaLabel }
	>
		{ children... }
	</button>
}
